{% extends "base.html" %}

{% block body %}

<div class="row">

    {% for game in games %}
    <div class="col-md-3 grid-itemm">
      <a href="{% url 'game' game.id %}">
        <img class="img-responsive grid-item" src="{{ game.data.cover_small }}" alt="">
      </a>
    </div>
    {% endfor %}

</div>

<!-- Page Content -->
{#<div class="container">#}

    <!-- Page Heading -->
    {% comment %}    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Page Heading
                <small>Secondary Text</small>
            </h1>
        </div>
    </div>{% endcomment %}
    <!-- /.row -->



    {% comment %}    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-rounded img-responsive" src="http://placehold.it/450x450" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->{% endcomment %}

{% comment %}    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->{% endcomment %}

    <!-- Projects Row -->
{#    <div class="row">#}

  {% comment %}
  ОКОНЧАТЕЛЬНЫЙ ВАРИАНТ СЕТКИ
<div class="col-md-3 grid-itemm">
    <a href="#">
        <img class="img-responsive grid-ite" src="http://beerhold.it/175/262" alt="">
    </a>
</div>
<div class="col-md-3 grid-itemm">
    <a href="#">
        <img class="img-responsive grid-itemm" src="http://beerhold.it/175/263" alt="">
    </a>
</div>
<div class="col-md-3 grid-item">
    <a href="#">
        <img class="img-responsive grid-itemm" src="http://beerhold.it/175/262" alt="">
    </a>
</div>
<div class="col-md-3 grid-item">
    <a href="#">
        <img class="img-responsive grid-itemm" src="http://beerhold.it/175/262" alt="">
    </a>
</div>

<div class="col-md-3 grid-item">
    <a href="#">
        <img class="img-responsive" src="http://beerhold.it/175/262" alt="">
    </a>
</div>
<div class="col-md-3 grid-item">
    <a href="#">
        <img class="img-responsive" src="http://beerhold.it/175/262" alt="">
    </a>
</div>
<div class="col-md-3 grid-item">
    <a href="#">
        <img class="img-responsive" src="http://beerhold.it/175/262" alt="">
    </a>
</div>
<div class="col-md-3 grid-item">
    <a href="#">
        <img class="img-responsive" src="http://beerhold.it/175/262" alt="">
    </a>
</div>

<div class="col-md-3 grid-item">
    <a href="#">
        <img class="img-responsive" src="http://beerhold.it/175/262" alt="">
    </a>
</div>
<div class="col-md-3 grid-item">
    <a href="#">
        <img class="img-responsive" src="http://beerhold.it/175/262" alt="">
    </a>
</div>
<div class="col-md-3 grid-item">
    <a href="#">
        <img class="img-responsive" src="http://beerhold.it/175/262" alt="">
    </a>
</div>
<div class="col-md-3 grid-item">
    <a href="#">
        <img class="img-responsive" src="http://beerhold.it/175/262" alt="">
    </a>
</div>{% endcomment %}

{% comment %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" /></div>
    <div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive" src="https://www.smashingmagazine.com/wp-content/uploads/2016/01/07-responsive-image-example-castle-7-opt.jpg" /></div>
    <div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive" src="http://www.spacex.com/files/assets/img/20090110_vertical002.jpg" /></div>
    <div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg" /></div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/236x/9d/7c/f0/9d7cf0db6a70fc32fc581dd2e68d88f3.jpg" /></div>
    <div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg" /></div>
    <div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" /></div>
    <div class="col-md-2 col-sm-4 col-xs-6"><img class="img-responsive" src="http://blog.arborday.org/wp-content/uploads/2013/02/NEC1-300x200.jpg" /></div>
  </div>
</div>
{% endcomment %}

{#    </div>#}
    <!-- /.row -->


<!-- Pagination -->
{% comment %}<div class="row text-center">
    <div class="col-lg-7">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>{% endcomment %}


{% comment %}<div class="row text-center">
    <div class="col-lg-7">
        <ul class="pagination">
            {% if contacts.has_previous %}
                <li><a href="?page={{ games.previous_page_number }}">&laquo;</a></li>>
            {% endif %}


            <li><a href="#">{{ games.number }}</a></li>

            <li><a href="?page={{ games.next_page_number }}">&raquo;</a></li>
        </ul>
    </div>
</div>{% endcomment %}

<div class="row text-center">
    {% if games.has_other_pages %}
        <ul class="pagination">
            {% if games.has_previous %}
                <li><a href="?page={{ games.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in games.paginator.page_range %}
                {% if games.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if games.has_next %}
                <li><a href="?page={{ games.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
</div>

{% comment %}<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>{% endcomment %}


<!-- /.row -->

{#</div>#}
<!-- /.container -->


{% endblock %}