cloudinary==1.7.0
dj-database-url==0.4.1
Django==1.11
django-cloudinary-storage==0.2.1
django-debug-toolbar==1.6
django-webpack-loader==0.4.1
djangorestframework==3.5.3
gunicorn==19.7.1
-e git+https://github.com/nuxlic/igdb-api@25bab3fa4cda0278427f4fea760c861643fd1a68#egg=igdb_api
olefile==0.44
Pillow==6.2.0
pkg-resources==0.0.0
psycopg2==2.7.1
-e git+https://github.com/steveYeah/PyBomb.git@3c7efd634f0e3afc02b01e2209dead11d2971ed2#egg=pybomb
python-decouple==3.0
pytz==2017.2
requests==2.12.3
six==1.10.0
sqlparse==0.2.2
urllib3==1.20
whitenoise==3.3.0
