<!-- Navigation -->
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'games' %}">Private games</a>
    </div>
    <!-- /.navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'games' %}">Игры</a></li>
        <li><a href="{% url 'tags' %}">Списки</a></li>
        <li><a href="{% url 'search' %}">Добавить игру</a></li>
      </ul>

      {% if user.is_authenticated %}
          <div class="navbar-form navbar-right btn-group">
              <a href="{% url 'admin:index' %}" class="btn btn-default {% if not user.is_superuser %}disabled{% endif %}" role="button"><span class="glyphicon glyphicon-wrench"></span>Admin</a>
              {% comment %}<button type="button" class="btn btn-success" role="button">
                {# <span class="glyphicon glyphicon-user"></span> {{ user.username }}#}
                <span class="glyphicon glyphicon-envelope"></span> {{ user.email }}
              </button>{% endcomment %}
              <a href="{% url 'cabinet' %}"
                 class="btn btn-success" role="button"><span class="glyphicon glyphicon-wrench"></span>{{ user.email }}
              </a>
              <a href="{% url 'logout' %}?next=/" class="btn btn-default" role="button"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
          </div>
      {% else %}
          <div class="navbar-form navbar-right btn-group">
              <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login</a>
{#              <a class="btn btn-default" href="{% url 'user_registration' %}" role="button">Register</a>#}
          </div>
      {% endif %}
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- /.navbar -->